<div class="col s12 m6 l4 xl2">
    <div class="card primary-gradient card-hover">
        <div class="card-content">
            <p class="flow-text left-align">{{ title }}</p>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn warning-gradient white-text" data-id="{{ _id }}">Notes</a>
            {{#if saved }}
                <a class="waves-effect waves-light btn warning-gradient white-text" data-id="{{ _id }}">Remove Article</a>
            {{else}}
                <a class="waves-effect waves-light btn success-gradient white-text" data-id="{{ _id }}">Save Article</a>
            {{/if}}
            
            <a class="waves-effect waves-light btn warning-gradient white-text" href="{{ link }}">Read Article</a>
        </div>
    </div>
</div>